.newsContainer {
    width: 100%;
    height: max-content;
    background-color: white;
    margin-top: 10vh;
    position: absolute;
    top: -3.5vh;
    background-image: url("https://img.freepik.com/free-vector/painted-background-multicoloured-palette_23-2148427592.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    h2:first-of-type {
        margin: 1vh auto;
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: rgba(242, 76, 57, 0.941);
    }
    h2:nth-of-type(2) {
        background-color: wheat;
        text-align: center;
        color: white;
    }
    .swiper {
        width: 100%;
        height: 35vh;
        border-radius: 10px;
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 0;

            background-size: 100% 100%;
            background-repeat: no-repeat;
            h3 {
                margin: 0px;
                padding: 0px 10px;
                text-align: center;
                color: white;
                background-color: rgba(109, 109, 109, 0.727);
                border-radius: 5px;
            }
            h4 {
                margin: 0px;
                color: white;
                background-color: rgba(109, 109, 109, 0.727);
                border-radius: 50px;
                padding: 5px 5px;
                position: relative;
                bottom: 70%;
            }
        }
        .swiper-button-next {
            color: white;
        }

        .swiper-button-prev {
            color: white;
        }
    }
    .related-news-container {
        width: 80%;
        margin: 20px auto;
        color: rgb(255, 255, 255);
        text-align: center;
        box-shadow: 1px 5px 15px 5px #cbcbcb;
        a {
            text-decoration: none;
            .related-news {
                padding-top: 5px;
                border-bottom: 1px solid white; 
                color: white;
            }
            .related-news:hover {
                position: relative;
                top: 5px;
                left: 5px;
            }
        }
    }
}
@media screen and (min-width: 675px) {
    .newsContainer {
        top: -10vh;
        h2:first-of-type {
            margin-top: 10vh;
        }
        .swiper {
            margin-top: 2vh;
            width: 70%;
            height: 50vh;
            .swiper-slide {
                h3 {
                    width: 100%;
                    display: block;
                }
            }
        }
        .related-news-container {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            a {
                flex: 1 1 45%;
                .related-news {
                    height: 600px;
                    img {
                        height: 300px;
                    }
                    h3 {
                        height: 50px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .newsContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 5%;
        h2 {
            width: 20%;
            flex: 1 1 100%;
            display: none;
        }
        .main-news-container {
            flex: 1 1 40%;
            width: 45%;
            height: 90vh;
            margin: 10vh 0 0 20px;
            border: 1px solid white;
            background-color: rgb(125, 235, 211);
            .swiper {
                width: 100%;
                height: 100%;
                margin-top: 0px;
                .swiper-slide {
                    align-items: flex-start;
                }
                h3 {
                    height: max-content;
                    font-size: 40px;
                    background: none;
                    color: black;
                    font-weight: 600;
                    min-height: 180px;
                    padding-top: 20px;
                }
                h4 {
                    bottom: 0px;
                    background-color: white;
                    color: black;
                    font-weight: 600;
                }
                img {
                    width: 100%;
                    height: 50%;
                }
                p {
                    padding: 0 20px;
                    font-size: 20px;
                }
            }
        }
        .related-news-container {
            flex: 1 1 45%;
            width: 45%;
            margin: 10vh 20px 0 0;
            height: 90vh;
            overflow: scroll;
            background-color: rgb(106, 147, 242);
            border: 1px solid white;
        }
    }
}